@import "tailwindcss";

@font-face {
  font-family: "Zendots";
  src: url("/fonts/ZENDOTSREGULAR.TTF");
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Bold.otf");
  font-weight: 700;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-zendots: "Zendots", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-inter);
  width: 100%;
}
@layer utilities {
  /* Existing utilities */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .col-between {
    @apply flex flex-col items-center justify-between;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-end {
    @apply flex items-end justify-end;
  }
}

@layer components {
  main {
    @apply overflow-hidden;
  }
  .hero-section {
    @apply relative min-h-screen w-full overflow-hidden flex items-center justify-center;

    /* Video */
    .video-overview {
      @apply absolute inset-0 w-full h-full object-cover;
    }

    /* Dark overlay biar teks kebaca */
    .overlay {
      @apply absolute inset-0 bg-black/40 z-[1] backdrop-blur-[2px];
    }

    /* Main content */
    .content {
      @apply relative z-10 flex flex-col items-center text-center
            text-white uppercase font-family-zendots
            px-0 md:px-6 gap-12;
    }

    /* Title */
    .hero-title {
      @apply text-white text-5xl leading-14 md:text-6xl font-bold tracking-widest text-center drop-shadow-lg font-family-zendots;

      span {
        @apply text-sky-300;
      }
    }

    /* Middle section */
    .middle-content {
      @apply relative flex justify-center items-center
            max-w-7xl w-full px-8;
    }

    .text-img {
      @apply absolute hidden md:block justify-between items-center px-10 w-full text-base text-shadow-cyan-500;
    }

    .left-text {
      @apply text-right;
    }

    .right-text {
      @apply text-left;
    }

    /* Thumbnail */
    .thumbnail-wrapper {
      @apply flex justify-center;
    }

    .thumbnail {
      @apply hover:scale-105
        transition duration-300
        transform-gpu
        object-cover
        will-change-transform
         rounded-3xl
  shadow-[0_20px_60px_rgba(0,0,0,0.4)]
  ring-1 ring-white/20
  backdrop-blur;
    }
    .hero-subtitle {
      @apply text-lg md:text-2xl tracking-[0.15em] text-white opacity-70 px-8;
    }
  }
  .ticket-section {
    @apply relative min-h-screen w-full overflow-hidden
           flex items-center justify-center;
  }

  /* Background Wrapper */
  .ticket-bg {
    @apply absolute inset-0 z-0;
  }
  .ticket-bg-img {
    @apply object-contain w-full h-full;
  }
  .ticket-main-img {
    @apply absolute inset-0 z-20
        object-cover
        object-center
        pointer-events-none
        h-full w-full;
  }

  .ticket-content {
    @apply relative z-10
           flex flex-col items-center
           justify-center text-center;
  }

  /* Reservation Box */
  .reservation-box {
    @apply grid grid-cols-1 md:grid-cols-5 gap-4 w-full max-w-5xl;
  }

  /* Each Item */
  .reservation-item {
    @apply flex flex-col items-center justify-center;
  }

  .reservation-item p {
    @apply text-sm text-white opacity-80;
  }

  .reservation-item h4 {
    @apply text-base text-white font-medium;
  }

  /* Amount Control */
  .amount-control {
    @apply flex items-center justify-center gap-6;
  }

  .amount-btn {
    @apply text-white font-medium size-7
           bg-sky-200 rounded-full
           flex items-center justify-center
           transform-gpu
           transition hover:scale-110;
  }
}
